*~
*.o
*.d
*.mk
*.raw
*.log
*.plt
*.net
*.bak
*-bak
*fp-lib-table
appnotes
datasheet
scratch
hardware/gerber
trace-pictures
*/.metadata
*/.jxbrowser-data
*/RemoteSystemsTempFiles
firmware/*
!firmware/MotorController
firmware/MotorController/Debug
software/CANard
software/temp.csv
__pycache__
