*~
*.o
*.raw
*.log
*.plt
*.net
*.bak
*-bak
*fp-lib-table
appnotes
datasheet
scratch
hardware/gerber
*/.metadata
*/.jxbrowser-data
*/RemoteSystemsTempFiles
firmware/*
!firmware/MotorController
trace-pictures
