*~
*.o
*.d
*.mk
*.raw
*.log
*.plt
*.net
*.bak
*-bak
*fp-lib-table
appnotes
datasheet
scratch
notes
TODO.ods
bom/2kwMotorController.csv
hardware/gerber
trace-pictures
*/.metadata
*/.jxbrowser-data
*/RemoteSystemsTempFiles
firmware/*
!firmware/MotorController
firmware/MotorController/Debug
software/CANard
software/data.csv
software/display.txt

__pycache__
testdata
